@import "../src/common/defaults";
@import "../src/common/mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: $dark-font-default-color;
    padding: 0.5rem 0rem !important;
    &:hover {
        text-decoration: none !important;
        color: cyan !important;
    }
}

p {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: $page-header-font-size;
}

.switch-icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    .dark-icon {
        color: #4909c2;
    }
    .light-icon {
        color: yellow;
    }
    span {
        font-size: $default-font-size;
    }
}

.darkMode {
    .AppWrapper {
        margin: 0;
        height: auto;
        font-size: $default-font-size;
        background-color: $dark-main-bg-color;
        color: $dark-font-default-color;
    }
    /*Header*/
    .header-app {
        &__navbar {
            background-color: $dark-banner-color;
        }
        &__search {
            font-size: $small-font-size;
            form {
                button {
                    padding: 0px 8px;
                    cursor: pointer;
                    height: 28px;
                }
                input {
                    padding: 5px 5px 5px 10px;
                    height: 35px;
                    outline: none;
                }
            }
            button {
                outline: none;
                border: none;
                background: none;
            }
        }
    }
    /*header ends*/
    .navbar-dark {
        .navbar-nav {
            .nav-link {
                color: $dark-font-default-color !important;
                padding: 0.5rem 0rem !important;
                &:hover {
                    color: $dark-hover-color!important;
                }
            }
        }
    }
    .suggestionCont {
        width: 150px;
        height: 150px;
        border: 1px red solid;
        color: $dark-font-default-color;
    }
    /*Header ends*/
    /*Loading */
    .loading {
        $colors: $dark-font-default-color, #9fa3a8, #696d72, #4f545a, $dark-banner-color;
        display: flex;
        .loading-row {
            height: 50vh;
        }
        .dot {
            position: relative;
            width: 0.5em;
            height: 0.5em;
            margin: 0.8em;
            border-radius: 50%;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: inherit;
                border-radius: inherit;
                animation: wave 2s ease-out infinite;
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    background: nth($colors, $i);
                    &::before {
                        animation-delay: $i * 0.2s;
                    }
                }
            }
        }
    }
    @keyframes wave {
        50%,
        75% {
            transform: scale(2.5);
        }
        80%,
        100% {
            opacity: 0;
        }
    }
    /*Loading ends*/
    /*Movie Card*/
    .movie-card {
        color: $dark-font-default-color;
        height: auto;
        background-color: $dark-banner-color;
        &__image {
            object-fit: contain;
            @include transitionProperty;
            &:hover {
                transform: scale(1.35);
                @include transitionProperty;
            }
        }
        &__link {
            padding: 0!important;
        }
        &__overview {
            font-size: $small-font-size;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 2rem;
        }
        &__title {
            font-size: $card-header-font-size;
            display: block;
            height: 3rem;
        }
        &__btns {
            font-size: $small-font-size;
            cursor: pointer;
        }
        &__popularity {
            font-size: $small-font-size;
        }
    }
    /*Movie Card Ends*/
    /*Movie Detai Ends*/
    .detail-card-cont {
        color: $dark-font-default-color;
        height: 50vh;
        background-color: $dark-banner-color;
        .detail-card-image {
            object-fit: contain;
        }
        a {
            text-decoration: none;
            font-size: $dark-font-default-color;
        }
        .detail-card-overview {
            font-size: $small-font-size;
            overflow: auto;
            height: 120px;
        }
        .detail-card-title {
            font-size: $detail-font-size;
            display: block;
            height: 30px;
        }
        .detail-card-btns {
            font-size: $small-font-size;
            cursor: pointer;
        }
        .detail-card-header {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.178);
            padding: 0.75rem 0rem;
        }
        .detail-tagline {
            font-style: italic;
            font-size: $page-header-font-size;
        }
    }
    .cast-container {
        .cast-header {
            font-size: $detail-font-size;
            color: $dark-font-default-color;
            text-align: center;
        }
        .card-cast-image {
            object-fit: contain;
            width: 100%;
        }
        /* 	.card-cast-cont {
			border:1px blue dashed
		}*/
        .card-cast-actor-cont {
            color: $dark-font-default-color;
            font-size: $small-font-size;
        }
        .card-cast-actor {
            text-align: center;
        }
        .card-cast-role {
            font-style: italic;
            text-align: center;
            height: 15px;
        }
        .cast-header {
            text-align: center;
        }
    }
    /*Movie Detai Ends*/
    /*Error*/
    .error-page {
        img {
            max-width: 55%;
            height: auto;
        }
    }
    /*Error Ends*/
    /*Trending Movies*/
    .movie-list,
    .show-list {
        margin: 20px 0px;
        h2 {
            color: $dark-font-default-color;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
        }
    }
    .movie-wrapper {
        min-height: 80vh;
        h1 {
            color: $dark-font-default-color;
            font-size: $page-header-font-size;
        }
    }
    .movies-error {
        width: 100%;
        color: red;
    }
    .denemeClass {
        background-color: red;
        color: white;
    }
    /*Trending Movies ends*/
    /*Footer*/
    footer {
        background: $dark-banner-color;
        font-size: 12px;
        color: $dark-font-default-color;
    }
    /*Footer ends*/
}

.lightMode {
    .AppWrapper {
        margin: 0;
        height: 100vh;
        background-color: $light-main-bg-color;
        font-size: $default-font-size;
    }
    /*Header*/
    .brand-md {
        color: $light-font-default-color
    }
    .navbar--header {
        background-color: $light-banner-color;
    }
    .nav-bar .nav-link {
        color: $light-font-default-color !important;
        padding: 0.5rem 0rem !important;
        &:hover {
            text-decoration: none !important;
        }
    }
    .watchlist-header,
    .favorites-header {
        color: $light-font-default-color;
    }
    .suggestionCont {
        width: 150px;
        height: 150px;
        border: 1px red solid;
        color: $light-font-default-color;
    }
    .search-bar {
        form {
            button {
                padding: 0px 8px;
                font-size: 14px;
                cursor: pointer;
                height: 28px;
            }
            input {
                font-size: 14px;
                padding: 5px 5px 5px 10px;
                height: 28px;
                outline: none;
            }
        }
        .suggestions-cont {
            color: $light-main-bg-color;
            position: absolute;
            width: 183px;
            height: auto;
            top: 54px;
            background: $light-font-default-color;
            z-index: 2;
            .suggestion-item {
                font-size: 12px;
                color: #747474;
                &:hover {
                    background-color: #72717179;
                }
            }
        }
    }
    /*Header ends*/
    /*Loading */
    .loading {
        $colors: $light-font-default-color, #9fa3a8, #696d72, #4f545a, $light-banner-color;
        display: flex;
        .loading-row {
            height: 50vh;
        }
        .dot {
            position: relative;
            width: 0.5em;
            height: 0.5em;
            margin: 0.8em;
            border-radius: 50%;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: inherit;
                border-radius: inherit;
                animation: wave 2s ease-out infinite;
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    background: nth($colors, $i);
                    &::before {
                        animation-delay: $i * 0.2s;
                    }
                }
            }
        }
    }
    @keyframes wave {
        50%,
        75% {
            transform: scale(2.5);
        }
        80%,
        100% {
            opacity: 0;
        }
    }
    /*Loading ends*/
    /*Movie Card*/
    .card-cont {
        color: $light-font-default-color;
        height: auto;
        background-color: $light-banner-color;
        .card-image {
            width: 100%;
            height: 25vh;
            object-fit: contain;
        }
        a {
            text-decoration: none;
            color: $light-font-default-color;
        }
        .card-overview {
            font-size: $small-font-size;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .card-title {
            font-size: $card-header-font-size;
            display: block;
        }
        .card-body {
            height: 100px;
        }
        .card-btns {
            font-size: $small-font-size;
            cursor: pointer;
        }
        .card-header {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.178);
            padding: 0.75rem 0rem;
        }
        .card-popularity {
            font-size: $small-font-size;
        }
        .card-footer {
            position: absolute;
            bottom: 0px;
        }
    }
    /*Movie Card Ends*/
    /*Movie Detai Ends*/
    .detail-card-cont {
        color: $light-font-default-color;
        height: 50vh;
        background-color: $light-banner-color;
        .detail-card-image {
            object-fit: contain;
        }
        a {
            text-decoration: none;
            font-size: $light-font-default-color;
        }
        .detail-card-overview {
            font-size: $small-font-size;
            overflow: auto;
            height: 120px;
        }
        .detail-card-title {
            font-size: $detail-font-size;
            display: block;
            height: 30px;
        }
        .detail-card-btns {
            font-size: $small-font-size;
            cursor: pointer;
        }
        .detail-card-header {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.178);
            padding: 0.75rem 0rem;
        }
        .detail-tagline {
            font-style: italic;
            font-size: $page-header-font-size;
        }
    }
    .cast-container {
        .cast-header {
            font-size: $detail-font-size;
            color: $light-font-default-color;
            text-align: center;
        }
        .card-cast-image {
            object-fit: contain;
            width: 100%;
        }
        /* 	.card-cast-cont {
			border:1px blue dashed
		}*/
        .card-cast-actor-cont {
            color: $light-font-default-color;
            font-size: $small-font-size;
        }
        .card-cast-actor {
            text-align: center;
        }
        .card-cast-role {
            font-style: italic;
            text-align: center;
            height: 15px;
        }
        .cast-header {
            text-align: center;
        }
    }
    /*Movie Detai Ends*/
    /*Error*/
    .error-page {
        img {
            max-width: 55%;
            height: auto;
        }
    }
    /*Error Ends*/
    /*Trending Movies*/
    .movie-list,
    .show-list {
        margin: 20px 0px;
        h2 {
            color: $light-font-default-color;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
        }
    }
    .movie-wrapper {
        min-height: 80vh;
        h1 {
            color: $light-font-default-color;
            font-size: $page-header-font-size;
        }
    }
    .movies-error {
        width: 100%;
        color: red;
    }
    .denemeClass {
        background-color: red;
        color: white;
    }
    /*Trending Movies ends*/
    /*Footer*/
    footer {
        background: $light-banner-color;
        font-size: 12px;
        color: $light-font-default-color;
    }
    /*Footer ends*/
}