$font-family: "Poppins",
sans-serif;
$small-font-size:0.6rem;
$default-font-size:0.8rem;
$card-header-font-size:0.8rem;
$page-header-font-size:1.2rem;
$dark-main-bg-color: #343a40;
$dark-banner-color:#1b232b;
$dark-font-default-color:#ffffff;
$light-main-bg-color: #ffffff;
$light-banner-color:#e3e7ec;
$light-font-default-color:#1b232b;
$dark-hover-color:#17a2b8;
$detail-font-size:1.2rem;